p {
    font-size: 16px;
}
.review-list{
    border-radius: 25px;
    border-width: 3px;
    border-color: #2389FC;
    border-style: solid;
    max-width: 75%;
    padding: 20px 20px 20px 0;
    margin: 20px;
}
.profile {
    width: 150px;
    text-align: center;
    color: #2389FC;
    font-weight: 500;
    flex-shrink: 0;
}
.profile img {
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
}
.stars-container {
    display: flex;
    margin-bottom: 10px;
}
.stars-container img {
    width: 30px;
    height: 25px;
}
.review-item{
    display: flex;
}
