h1 {font-size: 64px;}
h2 {font-size: 32px;}
h3 {font-size: 24px;}
p, label{font-size: 16px;}
.back{
    position: absolute;
    font-size: 32px;
    font-weight: 900;
}
h1{
    margin: auto;
    font-weight: 400;
    color: #2389FC;
    margin-bottom: 40px;
    text-align: center;
}
h2{
    margin: auto;
    font-weight: 100;
    color: #2389FC;
    margin-bottom: 20px;
}
input {
    height: 50px !important;
    border-radius: 25px;
    border-width: 0;
    background-color: #E0E0E0;
    font-size: 16px;
    padding: 20px;
    width: 100%;
}
.button-container{
    margin-top: 10px;
}
.example-full-width{
    width: 250px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
