<a [routerLink]="['/']" class="back">&#8592;</a>
<h1>Cambiar contraseña</h1>
<form [formGroup]="form" (ngSubmit)="submitPassword()">
    <label for="">Ingresa la nueva contraseña</label>
    <mat-form-field class="example-full-width">
        <input formControlName="password" type="password" matInput [formControl]="$any(form.controls['password'])" [errorStateMatcher]="matcher"
             placeholder="Contraseña">
        @if (form.controls['password'].hasError('required')) {
            <mat-error>Campo <strong>Obligatorio</strong></mat-error>
      }
    </mat-form-field>    
    <label for="">Verifica tu contraseña</label>
    <mat-form-field class="example-full-width">
        <input formControlName="passwordconfirm" type="password" matInput [formControl]="$any(form.controls['passwordconfirm'])" [errorStateMatcher]="matcher"
             placeholder="Repite tu contraseña">
             <mat-error *ngIf="form.errors?.['PasswordNoMatch']">Las contraseñas <strong>no coinciden</strong></mat-error>
             @if (form.controls['passwordconfirm'].hasError('required')) {
                 <mat-error>Campo <strong>Obligatorio</strong></mat-error>
                 }
    </mat-form-field>
    <div class="button-container">
        <button type="submit">Cambiar contraseña</button>
    </div>
</form>