.review-create{
    position: relative;
    height: fit-content;
    padding: 0%;
    margin: 5%
}
mat-slider {
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
}
.stars-container{
    position: relative;
    width: 310px;
    display: flex;
}
.stars-container img {
    width: 20%;
    pointer-events: none
}

#review-content {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border-color: #eaeaea;
    border-style: solid;
    border-width: 2px;
    resize: none;
}
.btns {
    position: relative;
    width: 90%;
}
.btns button{
    float: right;
    margin-left: 20px;
}   