.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

.form-section {
  flex: 1;
  padding: 20px;
}

.error {
  color: red;
}
